.header_logo {
    color: #000;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    margin-top: 46px;
}

header {
    background: #F1F1F1;
}

.header_menu a {
    margin-left: 50px;
}

.wrapper {
    margin: 0 auto;
    width: 1170px;
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
}

.header_menu {
    margin-top: 60px;
}

.home {
    color: #606060;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.menu_item {
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.intro {
    background: #F1F1F1;
}

.intro_left {
    width: 500px;
    margin-top: 203px;
}

.intro_right {
    margin-top: 76px;
}

.intro_title {
    width: 500px;
    color: #000;
    font-family: Poppins;
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.intro_text {
    width: 500px;
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-top: 22px;
}

.intro_wrapper {
    display: flex;
    justify-content: space-between;
}

.skills_wrapper {
    display: flex;
    justify-content: space-between;
}

.item_title {
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 30px;
}

.item_text {
    width: 370px;
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-top: 10px;
    margin-bottom: 90px;
}

.item_img {
    margin-top: 90px;
}

.portfolio_wrapper {
    text-align: center;
}

.portfolio_title {
    color: var(--Black, #070707);
    text-align: center;
    font-family: Poppins;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 90px;
    margin-bottom: 70px;
}

.portfolio_img {
    margin-top: 70px;
}

.portfolio_text {
    color: var(--Black, #070707);
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    margin-top: 40px;
    padding-bottom: 90px;
}

.portfolio {
    background-color: #F1F1F1;
}

.footer_wrapper {
    text-align: center;
}

.footer_title {
    color: var(--Black, #070707);
    text-align: center;
    font-family: Poppins;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 90px;
}

.footer_text {
    color: var(--Black, #070707);
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 40px;
}

.footer_img {
    margin-top: 87.76px;
    display: flex;
    justify-content: center;
    column-gap: 60px;
    padding-bottom: 41px;
}

.footer_button_item {
    width: 180.5px;
    height: 42px;
    background-color: #000;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 47.24px;
    border-radius: 50px;
}

.footer_bottom {
    color: #828282;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 90px;
}